@use "src/app/shared/styles/colors";

button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 0 12px;
  font-size: 14px;
  border: 0;
  &:disabled {
    cursor: default;
  }
}

.primary-btn {
  height: 24px;
  padding: 0 8px 0 4px;
  background-color: colors.$pacific-blue;
  color: colors.$dark-font;
  border-radius: 100px;
  line-height: 17px;

  &:hover:not(:disabled) {
    background-color: colors.$aqua;
  }

  &:disabled {
    background-color: #0d434a;
  }
}
