@use "src/app/shared/styles/colors";

.mdc-label {
  color: colors.$alabaster;
  margin-right: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.mdc-switch {
  .mdc-switch__ripple {
    display: none;
  }

  .mdc-switch__icon {
    display: none;
  }

  .mdc-switch__handle {
    height: 16px !important;
    width: 16px !important;
    background-color: colors.$pacific-blue;
  }

  .mdc-switch__track {
    height: 10px !important;
    width: 30px !important;
  }

  .mdc-switch__track::after {
    background-color: colors.$eden !important;
  }

  .mdc-switch__track::before {
    background-color: colors.$manatee !important;
  }
}

.mdc-switch--unselected {
  .mdc-switch__handle::after {
    background: colors.$alabaster !important;
  }
}

.mdc-switch--checked {
  .mdc-switch__handle::after {
    background: colors.$pacific-blue !important;
  }
}
